:root{
    --orange: hsl(25, 97%, 53%);

    --lightGrey: hsl(217, 12%, 63%);
    --MediumGrey: hsl(216, 12%, 54%);
    --darkBlue: hsl(213, 19%, 18%);
    --veryDarkBlue: hsl(216, 12%, 8%);
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    background-color: black;
}

h1, p, button{
    font-family: 'overpass', sans-serif;
}

.attribution{
    position: absolute;
    text-align: center;
    color: white;
    bottom: 0;
}

.attribution a{
    color: yellow;
}

.container{
    background-image: linear-gradient(var(--darkBlue), var(--veryDarkBlue));
    aspect-ratio: 1/1;
    width: 480px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    padding: 30px;
}

#ratingState h1{
    color: white;
}

#ratingState p{
    color: var(--lightGrey);
    line-height: 1.5;
}

#ratingState .svg-container{
    background-color: var(--darkBlue);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ratingButtons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    padding-top: 30px;
}

.rating{
    width: 15%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    background-color: var(--darkBlue);
    color: var(--lightGrey);
    font-size: 16px;
}

#submit{
    width: 100%;
    height: 50px;
    border: none;
    cursor: pointer;
    background-color: var(--orange);
    color: white;
    text-transform: uppercase;
    border-radius: 50px;
}

#endingState{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#endingState svg{
    margin-top: 30px;
}

#selection-message{
    margin-top: 40px;
    background-color: var(--darkBlue);
    color: var(--orange);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 100px;
}

#endingState h1{
    color: white;
    margin-top: 40px;
    margin-bottom: 0px;
}

#endingState p{
    color: var(--lightGrey);
    text-align: center;
    line-height: 1.5;
}